<%-

PARENT_MODEL = []

local_class_name = file_name.classify # Non-Namespaced class name
var_name = file_name # Non-namespaced variable name
plural_var_name = var_name.pluralize # Pluralized non-namespaced variable name

parent_prefix = PARENT_MODEL.blank? ? PARENT_MODEL : "#{PARENT_MODEL.underscore}_"
parent_variable = PARENT_MODEL.blank? ? PARENT_MODEL : "@#{PARENT_MODEL.underscore}"

parent_prefix = PARENT_MODEL.collect { |x| x.underscore }.join('_')
parent_prefix += '_' unless parent_prefix.blank?
parent_variables = PARENT_MODEL.collect{ |x| "@#{x.underscore}" }.join(', ')

namespace_prefix = singular_table_name[0..(file_name.length + 2)] # Remove _ before namespace

form_object_prefix = namespace_prefix.blank? ? '' : ":#{namespace_prefix}"
form_object_array = [form_object_prefix, parent_variables, "@#{var_name}"].reject{ |x| x.blank? }.join(', ')
form_object_array = "[#{form_object_array}]"

-%>
<%%= simple_form_for(<%= form_object_array %>, :html => { class: 'form-horizontal' }) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                <%= index_helper %>_path,
                :class => 'btn'
    %>
  </div>
<%% end %>
