<%-

local_class_name = file_name.classify # Non-Namespaced class name
var_name = file_name # Non-namespaced variable name
plural_var_name = var_name.pluralize # Pluralized non-namespaced variable name

form_objects = singular_table_name.split(file_name, -1)[0..-2].join(file_name)
form_object_array = form_objects.blank? ? "@#{var_name}" : "[:#{form_objects.split('_').join(', :')}, @#{var_name}]"

-%>
<%%= simple_form_for(<%= form_object_array %>, :html => { class: 'form-horizontal' }) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                <%= index_helper %>_path,
                :class => 'btn'
    %>
  </div>
<%% end %>
