<%-

t_helper = AuthorizedRailsScaffolds::Helper.new(
  :class_name => class_name,
  :singular_table_name => singular_table_name,
  :file_name => file_name
)

local_class_name = file_name.classify # Non-Namespaced class name

-%>
<%%- model_class = <%= local_class_name %> -%>
<div class="page-header">
  <h1><%%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>
</div>
<%%= render :partial => 'form' %>
